<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.prologistic.mychatapp"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="EkBZQkredPDZZIs3eDITyWhlntpLPVinbom9anhI" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="Gw4jFbhU8bLR1mhnKDUl9J5XyKqLPlIfvd2De7we" />

        <activity
            android:name=".CreateAccount"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>
